/* Custom Properties
--------------------- */
:root {
   --bg-clr: #020659;
   --hdr-grad: linear-gradient(to right, #210fd9, black);
   --font-clr: #fff;
   --main-bg-clr: #fff;
   --nav-link-clr: #fff;
   --nav-link-clr__hover: #590242;
   --pl-bg-clr: #2699fb;
   --pl-card-clr: #0d8dfb;
   --cur_nav-bg-clr: #030a8c;
   --cur-card-clr: #020873;
   --accent-clr: #590242;
   --accent-font-clr: #590242;

   --ff: Verdana, Geneva, Tahoma, sans-serif;
   --fs-h1: 1.5rem;
   --fs-h2_h3: 1rem;
   --fs-p: 0.8rem;
   --fs-btn: 0.8rem;
   --fs-ftr-p: 0.75rem;

   --scrollbar-width: 15px;
   --scrollbar-bg-clr__trending: #590242;
   --scrollbar-thumb__trending: #590242;
}

/* Globals
--------------------- */
*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   background-color: var(--bg-clr);
   font-size: 16px;
}

body {
   background-color: var(--main-bg-clr);
   font-family: var(--ff);
   color: var(--font-clr);
   max-width: 375px;
   margin: 0 auto;
   position: relative;
}

p {
   font-size: var(--fs-p);
}

/* Header
--------------------- */
header {
   background-image: var(--hdr-grad);
   padding: 4.25rem 2rem 1rem;
}

header p {
   line-height: 1.5;
}

h1 {
   font-size: var(--fs-h1);
   display: none;
}

header h2 {
   color: var(--font-clr);
   padding-bottom: 1rem;
   margin-left: 0;
}

h2 {
   color: var(--accent-font-clr);
   padding-bottom: 0.5rem;
   margin-left: 2rem;
}

h2, h3 {
   font-size: var(--fs-h2_h3);
   font-weight: bold;
   text-transform: uppercase;
}

/* Menu
--------------------- */
nav {
   background-color: var(--cur_nav-bg-clr);
   position: absolute;
   width: 100%;
   top: 0;
   display: grid;
   grid-template-columns: 1fr 6fr;
   grid-template-rows: 1fr;
}

ul {
   overflow: hidden;
   max-height: 2rem;
   transition: max-height 0.2s ease-out;
   padding-left: 2.5rem;
   margin-top: 1rem;
}

label {
   cursor: pointer;
   display: inline-block;
   padding: 28px 20px;
   position: relative;
   user-select: none;
   align-self: start;
}

label span {
   background-color: #fff;
   display: block;
   height: 2px;
   position: relative;
   transition: background-color 0.2s ease-out;
   width: 18px;
}

label span:before, label span:after {
   background-color: #fff;
   content: '';
   display: block;
   height: 100%;
   position: absolute;
   transition: all 0.2s ease-out;
   width: 100%;
}

label span:before {
   top: 5px;
}

label span:after {
   top: -5px;
}

input {
   display: none;
}

input:checked ~ ul {
   max-height: 500px;
}

input:checked ~ label span {
   background: transparent;
}

input:checked ~ label span:before {
   transform: rotate(-45deg);
}

input:checked ~ label span::after {
   transform: rotate(45deg);
}

input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
   top: 0;
}

nav li {
   padding: 0.5rem;
}

nav li:first-of-type {
   font-variant: small-caps;
   font-size: var(--fs-h1);
   padding-top: 0;
}

nav li:not(:first-of-type) {
   text-transform: uppercase;
}

nav a:link,
nav a:active,
nav a:visited {
   text-decoration: none;
   color: var(--nav-link-clr);
}

nav li:not(:last-of-type) a:hover {
   background-color: var(--nav-link-clr__hover);
}

.pfp:hover {
   filter: brightness(1.5);
   transition: filter 0.125s ease-in-out;
}

/* Main Content
--------------------- */
main {
   background-color: var(--main-bg-clr);
}

article {
   width: 100%;
   margin: 2rem 0;
}

.wrap {
   padding: 0.1rem;
   width: 100%;
   display: flex;
   overflow-x: scroll;
}

.more-btn {
   display: inline-block;
   background-color: var(--accent-clr);
   text-decoration: none;
   font-size: var(--fs-btn);
   color: var(--font-clr);
   padding: 0.7rem 1.5rem;
   margin-left: 2rem;
   margin-top: 0.5rem;
   border-radius: 5px;
}

.more-btn:hover {
   background-color: var(--bg-clr);
}

.pl-card {
   margin: 0.5rem;
   padding: 0.5rem;
   text-align: center;
}

.pl-card h3 {
   margin-top: 0.5rem;
   margin-bottom: 0.6rem;
}

.pl-card h3,
.pl-card p {
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

.pl-card p {
   line-height: 1.25;
   padding-bottom: 2rem;
}

/* Trending
--------------------- */
#trending {
   color: var(--accent-font-clr);
}

.tr-content {
   width: 100%;
   display: flex;
   overflow-x: scroll;
   scrollbar-color: var(--scrollbar-bg-clr__trending) rgb(212,190,206);
   scrollbar-width: thin;
   padding-bottom: 0.5rem;
   padding-top: 0.5rem;
}

.tr-content::-webkit-scrollbar {
   width: var(--scrollbar-width);
   border-radius: 5px;
}

.tr-content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 15px var(--scrollbar-bg-clr__trending);
}

.tr-content::-webkit-scrollbar-thumb {
   background-color: var(--scrollbar-thumb__trending);
   border-radius: 5px;
}

.tr-content::-webkit-scrollbar-thumb:hover {
   background: #020659;
}

.tr-content section {
   /* margin-left: 0.3rem; */
   margin-right: 1rem;
   height: 300px;
   display: grid;
   grid-template-rows: repeat(5, 1fr);
}

.tr-content section:first-of-type {
   margin-left: 0.8rem;
}

.tr-content section img {
   height: 100%;
   grid-row: 1 / -1;
   grid-column: 1 / -1;
   z-index: 0;
}

.tr-content section .song-artist {
   grid-row: 5 / -1;
   grid-column: 1 / -1;
   z-index: 1;
   background-color: rgba(255, 255, 255, 0.7);
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   align-items: center;
   padding-left: 1rem;
}

.tr-content figure {
   grid-row: 3 / 4;
   grid-column: 1 / -1;
   z-index: 2;
}

.song-artist {
   font-size: var(--fs-p);
}

.song-artist span {
   font-style: italic;
}

audio::-webkit-media-controls-enclosure {
   background-color: rgba(255, 255, 255, 0.5);
}

audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button {
   background-color: #fff;
   border-radius: 50%;
}

audio::-webkit-media-controls-volume-slider {
   background-color: rgba(255, 255, 255, 0.5);
   border-radius: 25px;
   padding-left: 8px;
   padding-right: 8px;
}

/* Your Playlists
--------------------- */
.pl-content {
   background-color: var(--pl-bg-clr);
   margin-top: 0.5rem;
}

.pl-content section {
   background-color: var(--pl-card-clr);
}

/* Curated Playlists
--------------------- */
.cur-content {
   background-color: var(--cur_nav-bg-clr);
   margin-top: 0.5rem;
}

.cur-content section {
   background-color: var(--cur-card-clr);
}

/* Playlist Scrollbars
--------------------- */
.pl-content {
   scrollbar-color: #020659 rgb(29,115,209);
   scrollbar-width: thin;
}

.cur-content {
   scrollbar-color: #020659 rgb(3, 13, 204);
   scrollbar-width: thin;
}

.pl-content::-webkit-scrollbar,
.cur-content::-webkit-scrollbar {
   width: var(--scrollbar-width);
}

.pl-content::-webkit-scrollbar-track,
.cur-content::-webkit-scrollbar-track {
   box-shadow: inset 0 0 15px #020659;
}

.pl-content::-webkit-scrollbar-thumb,
.cur-content::-webkit-scrollbar-thumb {
   background: #020659;
   border-radius: 5px;
}

.pl-content::-webkit-scrollbar-thumb:hover,
.cur-content::-webkit-scrollbar-thumb:hover {
   background: #fff;
}

/* Footer
--------------------- */
footer {
   text-align: center;
   padding: 0 0 1rem;
}

footer p {
   font-size: var(--fs-ftr-p);
   color: var(--accent-font-clr);
}

/* Media Queries
--------------------- */
@media (min-width: 700px) {
   body {
      max-width: 834px;
   }

   header {
      padding-top: 5rem;
   }

   nav {
      display: flex;
      flex-direction: row;
      width: 100%;
   }

   ul {
      overflow: visible;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 3rem;
      justify-items: center;
      align-items: center;
      
      margin-top: 0;
      min-height: 4rem;
   }

   nav li {
      padding: 0;
      text-align: center;
   }

   label, input {
      display: none;
   }

   .more-btn {
      float: right;
      margin-right: 0.5rem;
   }

   .playlist-grid {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 50%);
      grid-template-areas:
         "playlists curated";
   }

   #playlists {
      grid-area: playlists;
   }

   #curated {
      grid-area: curated;
   }

   #playlists .wrap,
   #curated .wrap {
      flex-direction: column;
      overflow-x: unset;
      overflow-y: scroll;
      height: 480px;
   }

   .pl-card {
      display: grid;
      grid-template-columns: 1fr 2fr;
      grid-template-rows: 1fr repeat(2, 1fr);
      grid-template-areas:
         "image title"
         "image para"
         "image para";
   }

   .pl-card img {
      grid-area: image;
   }

   .pl-card h3 {
      grid-area: title;
   }

   .pl-card p {
      grid-area: para;
   }
}